<nav class="navbar narbar-default" role="navigation">
  <div class="container-fluid">
    <!--brand and toggle get grouped for better mobile disply -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">rails 101</a>
    </div>
    <!-- Colletct the nav links, forms, and other content for toggling -->
    <div class="collaps navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("登录", '#') %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
